<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Twig Test</title>

        {% block stylesheet %}
            <link rel="stylesheet" href="http://twigtest.local/views/public/css/style.css" />
        {% endblock %}
    {% endblock %}
</head>
<body>
<div id="main-wrapper">
    <div id="header">
        {% block header %}{% endblock %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2014 by <a href="http://wneeds.com/">WNeeds Ltd.</a>.
        {% endblock %}
    </div>
</div>

{% block script %}
    <script type="text/javascript" language="javascript" src="http://twigtest.local/views/public/js/jquery_1.5.2.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>